
/*//////////////////////////status//////////////////////////*/
.status_communicated td{
    background-color:  #beffbe !important;
    color: #000 !important;
}
.status_created td{
    background-color: rgb(57, 123, 33) !important;
    color: #000 !important;
}
.status_initalRegistetion  td{
    background-color: rgb(57, 123, 33) !important;
    color: #000 !important;
}
.status_inDoing td{
    background-color: rgb(57, 123, 33) !important;
    color: #000 !important;
}
.status_unDone td{
    background-color: #ffbebe !important;
    color: #000 !important;
}
.status_done td{
    background-color:  #beffbe !important;
    color: #000 !important;
}

.status_confirmationFinal td{
    background-color:#beffbe !important;
    color: #000 !important;
}
.status_ignore td{
    background-color:#ffbebe !important;
    color: #000 !important;
}

/* portal */
.imgRfsh img{
    max-width: 20%;
    max-height: 100px;
}


.status_created {
    background-color: #fff2be !important;
    /*color: #cbc8c8 !important;*/
}
.status_posted {
    background-color: #73e950   !important;
    /*color: #cbc8c8 !important;*/
}
.status_postQueue  {
    background-color: #aef9ae !important;
    /*color: #cbc8c8 !important;*/
}
.status_displayed   {
    background-color: #cde7ea !important;
    /*color: #cbc8c8 !important;*/
}

